/* DASHBOARD STYLE START */
/* Width */
::-webkit-scrollbar {
    width: 5px; /* Change scrollbar width */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change scrollbar track color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #28282B; /* Change scrollbar handle color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change scrollbar handle color on hover */
}




#dashboard-name
{
    font-size: 30px;
}

#dashboard-email
{
    font-size: 20px;
}

.select-width
{
    width: 100%;
}

#text-logo
{
    color: #212121;
    font-size: 40px;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading-section
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
}

.heading-title
{
    font-size: 25px;
    font-weight: 800;
}

#add-new-device
{
    background-color: #212121;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
}

#titleimage {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.device-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.device-image img
{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.my-device
{
    margin: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 20px;
}

.device-content
{
    width: 300px;
    padding: 20px;
    background-color: #e7e6e6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.button-container button
{
    padding: 7px 10px 7px 10px;
    border: 0;
    color: white;
    border-radius: 10px;
}

.edit-button
{
    background-color: rgb(145, 19, 171);
}

#analyze-button
{
    background-color: rgb(26, 26, 117);
    padding: 7px 14px 7px 14px;
    border-radius: 10px;
    color: white;
}

.horizontal
{
    width: 100%;
    height: 0.1px;
    background-color: #8e8e8e;
    margin-bottom: 10px;
}

.prop-title
{
    font-size: 17px;
    font-weight: 600;
}

.input-label
{
    color: #212121;
    font-weight: 600;
    color: #212121 !important;
}

.input-control
{
    width: 100%;
    border-radius: 10px !important;
    margin: 0px 0px 20px 0px;
}

.file-control
{
    width: 100%;
    margin: 0px 0px 20px 0px;
}

/* .modal-content
{
    color: white !important;
    background-color: #bfbfbf !important;
} */

.modal-header
{
    /* background-color: #212121 !important; */
    /* color: white; */
    font-size: 22px;
    background-color: #28282B !important;
}

.btn-close
{
    color: white !important;
}

/* .modal-footer
{
    background-color: #808080 !important;
    color: white;
} */

.table-head-row
{
    background-color: #28282B !important;
    color: white;
}

.file-upload-head
{
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}

.point-element
{
    padding: 10px;
}

.point-element i
{
    margin-right: 10px;
}

.more-information
{
    margin-top: 20px;
}

/* .intro-image
{
    margin-top: 30px;
} */

.intro-section
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.intro-head
{
    font-size: 50px;
    font-weight: 800;
}

.intro-content
{
    width: 400px;
    text-align: justify;
}

.feature-section-head
{
    font-size: 35px;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: 60px;
}

.feature-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex-direction: column; */
}

.feature-section-contnet
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

/* Style for each feature card */
.feature {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 200px;
    margin: 20px;
    max-width: 300px; /* Adjust max-width as per your design */
    text-align: center;
    transition: all 0.9s ease-in-out;
    cursor: pointer;
}

.feature:hover
{
    transform: scale(1.1);
    box-shadow: 10px 10px #28282B;
}

.inner-feature-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style for feature number */
.feature-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #28282B;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Style for feature content */
.feature-content {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
/* DASHBOARD STYLE END */

.metric-heading
{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.metric-value
{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #efefef;
    width: 60%;
}

#statical-headiing
{
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    width: 100%;
    padding: 0px 20px 20px 50px;
}

.static-images
{
    border-radius: 20px;
}

.image-descriptions
{
    font-size: 20px;
    font-weight: 600;
}

.correct
{
    background-color: rgb(222, 255, 173);
}

/* NEED OF SECTION */
.need-of-head
{
    font-size: 35px;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 40px;
}

.need-of-section-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.need-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.need-of-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.need-container {
    margin: 30px 0px 10px 0px;
    box-shadow: 1px 3px 13px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100px;
    border-radius: 20px;
    cursor: pointer;
}

.need-pointer
{
    background-color: #28282B;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    margin-right: 10px;
    padding: 20px;
    font-size: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.need-content
{
    font-size: 20px;
    padding: 20px;
}

/* FOOTER */

.footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    background-color: #28282B;
    color: white;
    margin-top: 80px;
    padding: 50px;
    font-size: 18px;
}

.footer li
{
    cursor: pointer;
}

.footer i
{
    cursor: pointer;
}

.left-footer
{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 60%;
    line-height: 40px;
}

.right-footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.socials
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.social-icons
{
    font-size: 35px;
}

.newsletter
{
    margin-top: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.newsletter form
{
    width: 100%;
}

.newsletter input[type=text]
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    border: none;
    color: #28282B;
}

.newsletter input[type=submit]
{
    border: 1px solid white;
    padding: 5px 10px 5px 5px ;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 7px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* ABOUT THE ALGORITHM PAGE */

.algo-head-section
{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 40px 0px 40px 0px;
    width: 100%;
}

.algo-heading-title
{
    text-align: left;
    padding: 0;
    font-size: 30px;
    font-weight: 800;
}

.what-algo-section
{
    text-align: justify;
    font-size: 19px;
    line-height: 40px;
}

.what-algo-section li
{
    list-style-type: disc;
    margin-left: 60px;
}

.algo-dividor
{
    height: 5px;
    background-color: #28282B;
    width: 200px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}

.sub-working-head
{
    font-size: 25px;
    font-weight: 600;
}

.working-content-section
{
    font-size: 19px;
}

.algo-param-section ol
{
    list-style-type: decimal;
    margin-left: 20px;
    line-height: 40px;
}

.algo-param-section ul
{
    list-style: disc;
    margin-left: 40px;
    line-height: 40px;
}

.holding-images
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-subtitle
{
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}

.no-devices
{
    font-size: 20px;
    font-weight: 600;
    margin-top: 150px;
}